* {
    font-family: "IBM Plex Mono";
    margin: 0;
}

body {
    background-color: #96c3ce;
}

input {
    margin: 5px;
}

header {
    display: flex;
    margin: 0;
    padding: 10px;
    background-color: #3c6e71;
    justify-content: space-between;
    align-items: center;
}

.largeLogoContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logoLarge {
    object-fit: cover;
    width: 40%;
}

.logoSmall {
    object-fit: cover;
    height: 50px;
}

.registerContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.registrationTitle {
    font-weight: 300;
    font-size: 20px;
}

.error {
    color: #f26430;
    font-size: 15px;
    font-weight: 300;
}

.hidden {
    display: none;
}

.pTags {
    font-family: "Special Elite";
    color: #a79ab2;
    font-size: 30px;
}

.linkTags {
    margin: 2px;
    font-size: 15px;
    text-decoration: none;
}

.linkTags:visited {
    text-decoration: none;
    color: #f4eea9;
}

.profileImg {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 50%;
}

.popupModal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    width: 400px;
    height: 100px;
    background-color: #3c6e71;
}

.modalContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.profileContainer {
    background-color: #3c6e71;
    width: fit-content;
    margin: 10px;
    padding: 10px;
}
