* {
    font-family: "IBM Plex Mono";
    color: #0c0f0a;
    margin: 0;
    text-decoration: none;
}

body {
    background-color: #f0e100;
}

input {
    margin: 5px;
}

header {
    display: flex;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    background-color: #cbd2d0;
    justify-content: space-between;
    align-items: center;
    border: 1px black solid;
}

.largeLogoContainer {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logoLarge {
    object-fit: cover;
    width: 40%;
}

.logoSmall {
    object-fit: cover;
    height: 50px;
}

.registerContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.registrationTitle {
    font-weight: 300;
    font-size: 20px;
}

.error {
    color: #d5573b;
    font-size: 15px;
    font-weight: 300;
}

.hidden {
    display: none;
}

.pTags {
    font-family: "Special Elite";
    color: #272727;
    font-size: 30px;
}

.linkTags {
    margin: 2px;
    font-size: 15px;
    text-decoration: none;
}

.linkTags:visited {
    text-decoration: none;
    color: #f4eea9;
}

.profilePicContainer img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden;
    object-fit: cover;
}

.otherProfileContainer img {
    width: 250px;
    height: 250px;
    border-radius: 10px;
    overflow: hidden;
    object-fit: cover;
}

.otherProfileContainer {
    display: flex;
    background-color: #cbd2d0;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    border: 1px black solid;
}

.otherTitle {
    margin-left: 20px;
}

.bioPicContainer img {
    width: 250px;
    height: 250px;
    border-radius: 10px;
    overflow: hidden;
    object-fit: cover;
}

.popupModal {
    border-radius: 10px;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 50%;
    width: 300px;
    height: 100px;
    z-index: 1;
    background-color: #eca72c;
    box-shadow: 7px 8px 13px -4px rgba(0, 0, 0, 1);
}

button {
    margin-top: 10px;
}

.modalContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.profileContainer {
    display: flex;
    border-radius: 10px;
    background-color: #cbd2d0;
    border: 1px black solid;
    margin: 10px;
    padding: 10px;
}

.myProfileContainer {
    margin-left: 20px;
}

.findPeopleContainer {
    margin: 10px;
    padding: 10px;
    border: 1px black solid;
    background-color: #cbd2d0;
    border-radius: 10px;
}

.membersLookupContainer {
    margin: 10px;
    padding: 10px;
    border: 1px black solid;
    background-color: #cbd2d0;
    border-radius: 10px;
}

.userBlock {
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
    border-radius: 10px;
    padding: 10px;
    justify-content: space-around;
}

.searchImgContainer {
    background-color: #fffdfd;
    margin: 10px;
    border-radius: 10px;
    padding: 10px;
}

.searchImgContainer:hover {
    background-color: #f0e100;
    color: white;
}

.searchImgContainer img {
    width: 250px;
    height: 250px;
    border-radius: 10px;
    overflow: hidden;
    object-fit: cover;
}

#lookingGlass {
    width: 15px;
}
