* {
    font-family: "IBM Plex Mono";
}

body {
    background-color: #96c3ce;
}

input {
    margin: 5px;
}

.largeLogoContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logoLarge {
    object-fit: cover;
    width: 40%;
}

.logoSmall {
    object-fit: cover;
    height: 50px;
}

.registerContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.registrationTitle {
    font-weight: 300;
    font-size: 20px;
}

.error {
    color:#F26430;
    font-size: 15px;
    font-weight: 300;
}

.hidden {
    display: none;
}

.pTags {
    font-family: "Special Elite";
    color: #a79ab2;
    font-size: 30px;
}

.linkTags {
    margin: 2px;
    font-size: 15px;
    text-decoration: none;
}   

.linkTags:visited {
    text-decoration: none;
    color: #F4EEA9;
}